@import (reference) "core.less";
//  (actual styles go here)

@drtGreen: #00a550;
@drkGreen: #006738;

//Media Queries
@med-xs: ~"(min-width : 300px)";
@med-sm: ~"(min-width : 420px)";
@med-md: ~"(min-width : 620px)";
@med-lg: ~"(min-width : 767px)";



// @med-xs: ~"screen and (min-width : 420px)";
// @med-sm: ~"screen and (min-width : 620px)";
// @med-md: ~"screen and (min-width : 767px)";



//  Reset:
html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, form, label, table, caption, tbody, 
tfoot, thead, tr, th, td, canvas, footer, header, 
menu, nav {
  margin:       0;
  padding:      0;
  border:       0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{ display:      block; }

*{ .box-sizing() }
body, html { 
  margin: 0; 
  font-family: 'Varela Round', 'Arial Round', 'Gill Sans Round', Helvetica, Arial, sans-serif;
  height: 100%; 
  font-size:    @base-font-size; 
  font-weight:  @base-font-weight; 
  line-height:  @base-line-height;
  color:        @offBlack;
}
ol, ul{
  list-style:     none;
}
img { max-width:100%; }
input[type="text"], input[type="number"], input[type="password"], textarea, select {
  position: relative;
  font-family:inherit; 
  font-size:inherit;
  font-weight: inherit;
  height:auto;
}
table           {
  border-collapse:  collapse;
  border-spacing:   0;
}
svg { overflow:visible; }

input[type="submit"], button { outline: none; &:focus{ outline: none; } }


html, body, .ui-view-box, .app-wrap { width: 100vw; height: 100vh; background: @drtGreen; color: #fff; }

.fullheight {
  height:100%;
}

//  DONT COPY - THIS IS VERY SPECIFIC TO THIS STYLE
.btn  {
  .appearance-none();
  .clickable();
  .mauto();
  .user-select(none);
  background: 0;
  color: inherit;
  display: block;
  padding: 10px 5px;
  border: 2px solid #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}

@topbarHeight: 80px;
.topbar {

  height: @topbarHeight;
  width: 100vw;
  position: fixed;
  top: 0;

    .svg-corner {
      background: url('../img/drt-svg.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -100;
    }
    .nav-btn  {
      background: @drtGreen;
      .circle;
      .clickable;
      border: 2px solid #fff;
      height: 35px;
      .mt3; .ml2;
      width: 35px;
      text-align: center;
      .trans(transform, 0.225s);
      &:hover { 
        .scale(1.075);
      }
      i.fa  {
        .mauto();
        margin-top: 4px;
        font-size: 22px; 
      }

    }
    @logoRatio: 2.475;
    @logoHeight: 42px;
    .logo {
      background: url('../img/iDRT-logo.svg');
      background-position: 50% 50%;
      background-size: cover; 
      
      height: @logoHeight;
      width: @logoHeight * @logoRatio;

      margin-top: (@topbarHeight - @logoHeight) / 2 - 5; // the minus 5 tacked to the end here is to better center it vertically with nav-btn
      .mr2;
      float: right;
    } 
} 

//  Heavy work will be around making sure this guys height looks good
//  by using various height-based media queries
.routing {
  .box-sizing();
  margin-top: @topbarHeight;
  // height: 61.5%; // the amount it needs to work the height of PORTRAIT tiny iphone
  padding-top: 10%;


  .selector {
    .mt1; .mb1;
  }
}
  .selector-label {
    color: #fff;
    display: block;
    font-size: 14px;
    margin-right: 12.5%;
    text-align: right;
    .selector-label-hilite {
      color: #FBAF3F;
    }

    @media @med-sm {
      font-size: 16px;
      line-height: 1.618;
    }

  } 


  @leftside: -30px;
  .selector-border {
    background: #fff;
    height: 7px;
    margin: 0 0 0 -30px;
    width: 96%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  select.selector-selection {
    .appearance-none();
    background: @drkGreen;
    border: 0;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-left: -20px;
    padding: 3px 0 3px 30px;
    width: 93%;

    .trans(background, 0.4s);
    &:hover,
    &:focus {
      outline: none;
      background: #FBAF3F;
    }

    @media @med-sm {
        font-size: 16px;
      }

  }





.action-btns {
  .mt4;
  height: 5%;


  .action-btn-box {
    text-align: center;

    .btn {
      width: 75%;
      font-size: 13px;
      border-radius: 1px;
      .trans(all, 0.325s);

      &:hover,
      //&:focus  after click/tapping, focus remains which is weird looking
      {
        background: #fff;
        border-radius: 4px;
        color: @drtGreen;
      }
      &:active {
       background: @drtGreen;
        color: #fff; 
      }

      @media @med-sm {
        font-size: 15px;
      }



    }

  } 
}