@import url(http://fonts.googleapis.com/css?family=Roboto:900,400,700,400italic,300italic,500,100italic,500italic,300,700italic,100,900italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100,900);
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
footer,
header,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body,
html {
  margin: 0;
  font-family: 'Varela Round', 'Arial Round', 'Gill Sans Round', Helvetica, Arial, sans-serif;
  height: 100%;
  font-size: 16px;
  font-weight: 900;
  line-height: 25.88854382px;
  color: #333333;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
input[type="text"],
input[type="number"],
input[type="password"],
textarea,
select {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  overflow: visible;
}
input[type="submit"],
button {
  outline: none;
}
input[type="submit"]:focus,
button:focus {
  outline: none;
}
html,
body,
.ui-view-box,
.app-wrap {
  width: 100vw;
  height: 100vh;
  background: #00a550;
  color: #fff;
}
.fullheight {
  height: 100%;
}
.bb {
  background: blue;
}
.rr {
  background: red;
}
.topbar {
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
}
.topbar .svg-corner {
  background: url('../img/drt-svg.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}
.topbar .nav-btn {
  background: #00a550;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #fff;
  height: 35px;
  margin-top: 15px;
  width: 35px;
  text-align: center;
  -webkit-transition: transform 0.225s ease;
  -moz-transition: transform 0.225s ease;
  -o-transition: transform 0.225s ease;
  transition: transform 0.225s ease;
}
.topbar .nav-btn:hover {
  -ms-transform: scale(1.075);
  /* IE 9 */
  -webkit-transform: scale(1.075);
  /* Chrome, Safari, Opera */
  transform: scale(1.075);
}
.topbar .nav-btn i.fa {
  margin: 0 auto;
  margin-top: 4px;
  font-size: 22px;
}
.topbar .logo {
  background: url('../img/iDRT-logo.svg');
  background-position: 50% 50%;
  background-size: cover;
  height: 50px;
  width: 123.75px;
  margin-top: 10px;
  float: right;
}
.routing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-top: 80px;
  height: 61.5%;
  padding-top: 10%;
}
.routing .selector {
  margin-top: 6px;
  margin-bottom: 6px;
}
.routing .selector-label {
  color: #fff;
  display: block;
  margin-right: 20px;
  text-align: right;
}
.routing .selector-label .selector-label-hilite {
  color: #FBAF3F;
}
.routing .selector-border {
  background: #fff;
  height: 7px;
  margin: 0 0 0 -15px;
  width: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.routing select.selector-selection {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #006738;
  border: 0;
  border-radius: 0;
  border-bottom-right-radius: 10px;
  margin-left: -30px;
  padding-left: 30px;
  padding: 3px 0 3px 30px;
  width: 100%;
}
.action-btns {
  height: 5%;
  background: salmon;
}
.action-btns .action-btn-box {
  text-align: center;
}
footer.footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
  background: forestgreen;
  height: 80px;
}
