@import (reference) "core.less";
//	(actual styles go here)

@drtGreen: #00a550;

// 	Reset:
html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, form, label, table, caption, tbody, 
tfoot, thead, tr, th, td, canvas, footer, header, 
menu, nav {
  margin:       0;
  padding:      0;
  border:       0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{ display:      block; }

*{ .box-sizing() }
body, html { 
  margin: 0; 
  font-family: 'Varela Round', 'Arial Round', 'Gill Sans Round', Helvetica, Arial, sans-serif;
  height: 100%; 
  font-size:    @base-font-size; 
  font-weight:  @base-font-weight; 
  line-height:  @base-line-height;
  color:        @offBlack;
}
ol, ul{
  list-style:     none;
}
img { max-width:100%; }
input[type="text"], input[type="number"], input[type="password"], textarea, select {
  position: relative;
  font-family:inherit; 
  font-size:inherit;
  font-weight: inherit;
  height:auto;
}
table           {
  border-collapse:  collapse;
  border-spacing:   0;
}
svg { overflow:visible; }

input[type="submit"], button { outline: none; &:focus{ outline: none; } }


html, body, .ui-view-box, .app-wrap { width: 100vw; height: 100vh; background: @drtGreen; }

//just for quickly seeing teh blocks
.bb {
  background: blue;
}
.rr{
  background: red;
}


@topbarHeight: 80px;


.topbar {

  height: @topbarHeight;
  width: 100vw;
  background: lime;
  position: fixed;
  top: 0;

  .svg-corner {


  }

  .nav-icon  {

  }


} 

//  Heavy work will be around making sure this guys height looks good
//  by using various height-based media queries
.routing {
  margin-top: @topbarHeight;
  height: 61.5%; // the amount it needs to work the height of PORTRAIT tiny iphone
  background: aquamarine;

}





.action-btns {
  height: 5%;
  background: salmon;

  .action-btn-box {
    text-align: center;
  }
}





footer.footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
  background: forestgreen;
  height: 80px;
}













