@import (reference) "core.less";
//	(actual styles go here)

@drtGreen: #00a550;
@drkGreen: #006738;

//Media Queries
@med-tiny: ~"only screen and ";



// 	Reset:
html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, form, label, table, caption, tbody, 
tfoot, thead, tr, th, td, canvas, footer, header, 
menu, nav {
  margin:       0;
  padding:      0;
  border:       0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{ display:      block; }

*{ .box-sizing() }
body, html { 
  margin: 0; 
  font-family: 'Varela Round', 'Arial Round', 'Gill Sans Round', Helvetica, Arial, sans-serif;
  height: 100%; 
  font-size:    @base-font-size; 
  font-weight:  @base-font-weight; 
  line-height:  @base-line-height;
  color:        @offBlack;
}
ol, ul{
  list-style:     none;
}
img { max-width:100%; }
input[type="text"], input[type="number"], input[type="password"], textarea, select {
  position: relative;
  font-family:inherit; 
  font-size:inherit;
  font-weight: inherit;
  height:auto;
}
table           {
  border-collapse:  collapse;
  border-spacing:   0;
}
svg { overflow:visible; }

input[type="submit"], button { outline: none; &:focus{ outline: none; } }


html, body, .ui-view-box, .app-wrap { width: 100vw; height: 100vh; background: @drtGreen; color: #fff; }

.fullheight {
  height:100%;
}

//just for quickly seeing teh blocks
.bb {
  background: blue;
}
.rr{
  background: red;
}


@topbarHeight: 80px;
.topbar {

  height: @topbarHeight;
  width: 100vw;
  position: fixed;
  top: 0;

    .svg-corner {
      background: url('../img/drt-svg.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -100;
    }
    .nav-btn  {
      background: @drtGreen;
      .circle;
      .clickable;
      border: 2px solid #fff;
      height: 35px;
      margin-top: 15px;
      width: 35px;
      text-align: center;
      .trans(transform, 0.225s);
      &:hover { 
        .scale(1.075);
      }
      i.fa  {
        .mauto();
        margin-top: 4px;
        font-size: 22px; 
      }

    }
    @logoRatio: 2.475;
    @logoHeight: 50px;
    .logo {
      background: url('../img/iDRT-logo.svg');
      background-position: 50% 50%;
      background-size: cover; 
      
      height: @logoHeight;
      width: @logoHeight * @logoRatio;

      margin-top: (@topbarHeight - @logoHeight) / 2 - 5; // the minus 5 tacked to the end here is to better center it vertically with nav-btn

      float: right;
    } 
} 

//  Heavy work will be around making sure this guys height looks good
//  by using various height-based media queries
.routing {
  .box-sizing();
  margin-top: @topbarHeight;
  height: 61.5%; // the amount it needs to work the height of PORTRAIT tiny iphone
  // background: aquamarine;

  padding-top: 10%;


  .selector {
    .mt1; .mb1;
  }
  .selector-label {
    color: #fff;
    display: block;
    margin-right: 20px;
    text-align: right;
    .selector-label-hilite {
      color: #FBAF3F;
    }
  } 

  .selector-border {
    background: #fff;
    height: 7px;
    margin: 0 0 0 -15px;
    width: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  select.selector-selection {
    .appearance-none();
    background: @drkGreen;
    border: 0;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    margin-left: -30px;
    padding-left: 30px;
    padding: 3px 0 3px 30px;
    width: 100%;

  }



}





.action-btns {
  height: 5%;
  background: salmon;

  .action-btn-box {
    text-align: center;
  }
}





footer.footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
  background: forestgreen;
  height: 80px;
}













