<div ng-controller="MobileCtrl" class="container-fluid app-wrap">

	<header class="row topbar">
		<div class="svg-corner"></div>
		<div class="col-xs-2">
			<div class="nav-btn">
				<i class="fa fa-arrow-left"></i>
			</div>
		</div>	
		<div class="col-xs-3 col-xs-offset-7 fullheight">
			<div class="logo">

			</div>
		</div>
	</header>

	<section class="row routing">

		<!--When are you travelling-->
		<div class="col-xs-7">
			When r u traveling?
		</div>

		<!--What route-->
		<div class="col-xs-7">
			Wat route?
		</div>

	</section>

	<section class="row action-btns">

		<div class="col-xs-6 action-btn-box">
			<div class="action-btn-sched">
				Get Schedule
			</div>
		</div>

		<div class="col-xs-6 action-btn-box">
			<div class="action-btn-map">
				Get Map
			</div>
		</div>

	</section>

	<footer class="row footer">
		<!-- Some design junk goes here -->
	</footer>

</div>